@import "../../style/variable.scss";

.badge__container {
  position: absolute;
  top: -7px;
  right: -6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;

  border: 2px solid $black;
  border-radius: 20px;
  font-size: 12px;
}

.good__raiting {
  background: $white;
}

.bad__raiting {
  background: $red;
  color: $white;
}
