@import "../../style/variable.scss";

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.favorite__list {
  margin: 0 10px;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 30px;
}

.favorite__item {
  display: block;
  margin: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  position: relative;
  transform: scale(0.8);
  opacity: 0;
  animation: zoomIn 0.5s forwards;

  img {
     -moz-border-radius: 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 20px;
  }

  .favorite__details {
  margin-bottom: 14px;
  height: 100%;
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  text-align: center;
  color: $white;
  background: $black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  }

  &:hover .favorite__details {
    opacity: 1;
  }

}


.no-favorite {
  height: 594px;
  padding-top: 116px;
  font-weight: bold;
}
