@import "../../style/mixin.scss";

.movie-details {
  width: 100%;
}

.movie__but {
  width: auto;
  margin: 10px;
  text-align: end;
}

.movie-detail {
  display: flex;
  flex-direction: column;
  @include breakpoint(tablet) {
    flex-direction: row;
  }
}

.movie-detail__title {
  font-size: 18px;
  padding: 20px 0;
}

.movie-detail__description {
  font-size: 14px;
  padding-bottom: 30px;
}

.movie-detail__actor {
  margin-bottom: 20px;
}

.content__actor {
  text-align: center;
  margin-bottom: 20px;
}

.image__portrait {
  display: none;
  @include breakpoint(tablet) {
    display: block;
  }
}

.image__landscape {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  @include breakpoint(tablet) {
    display: none;
  }
}
