@import "../../style/mixin.scss";
@import "../../style//variable.scss";

.media {
  margin: 0;
  display: contents;
}

.content-modal__container {
  background: $white;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: overlay;
  width: 100%;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $grey;
    border-radius: 20px;
    border: 2px solid $white;
    
  }

  & .content-modal__portrait {
    display: none;
    @include breakpoint(tablet) {
      display: block;
      width: 350px;
      height: 500px;
      box-shadow: 5px 3px 15px #4169e1
    }
  }

  & .content-modal__landscape {
    display: block;
    width: 100%;
    @include breakpoint(tablet) {
      display: none;
    }
  }

  & .btn__close {
    position: absolute;
    top: 0;
    right: 0;
    & svg > path {
      color: $white;

      @include breakpoint(tablet) {
        color: $blue;
      }
    }
  }

  @include breakpoint(tablet) {
    margin: 30px 19px;
    width: 95%;
  }
}

.content-modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include breakpoint(tablet) {
    flex-direction: row;
  }
}

.content-modal__image {
  width: 100%;
  @include breakpoint(tablet) {
    width: 50%;
  }
  @include breakpoint(laptop) {
    width: 40%;
  }
}

.content-modal__about {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;

  & .content-modal__title {
    font-size: 16px;
    font-weight: bold;
    @include breakpoint(desktop) {
      font-size: 22px;
    }
  }
  & .content-modal__tagline {
    margin: 10px 0;
    @include breakpoint(desktop) {
      font-size: 18px;
    }
  }
  & .content-modal__description {
    font-size: 12px;
    margin: 0 10px;
    @include breakpoint(tablet) {
      font-size: 16px;
    }
    @include breakpoint(desktop) {
      font-size: 17px;
    }
  }

  @include breakpoint(tablet) {
    width: 50%;
  }
}

.content-modal__actor {
  text-align: center;
  margin-bottom: 20px;
}

.genre-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.genre-item {
  display: inline;
}

.genre-item::after {
  content: ', ';
}

.genre-item:last-child::after {
  content: '';
}