@import "../../style/mixin.scss";
@import '../../style/variable.scss';

.serie-details {
  width: 100%;
}

.serie__but {
  width: auto;
  margin: 10px;
  text-align: end;
}

.serie-detail {
  display: flex;
  flex-direction: column;
  @include breakpoint(tablet) {
    flex-direction: row;
  }
}

.serie-detail__title {
  font-size: 18px;
  padding: 20px 0;
}

.serie-detail__description {
  font-size: 14px;
  padding-bottom: 30px;
}

.serie-detail__actor {
  margin-bottom: 20px;
}

.image__portrait {
  display: none;
  @include breakpoint(tablet) {
    display: block;
  }
}

.image__landscape {
  display: block;
  width: 100%;
  @include breakpoint(tablet) {
    display: none;
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background-color: #000; 

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  .video__message{
    color: $white;
  }
}

@include breakpoint(tablet) {
  .video-wrapper {
    max-width: 80%;
    margin: 0 auto;
  }
}

@include breakpoint(laptop) {
  .video-wrapper {
    max-width: 70%;
  }
}

@include breakpoint(desktop) {
  .video-wrapper {
    max-width: 80%;
  }
}
