.tending {
  margin-top: 110px;
  padding-top: 0px;
}

.tending__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;

  .tending__btn-group{
    padding-bottom: 30px;
  }

  .tending__content {
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
  }
}

.tending__pagination {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
