@import "../../style/mixin.scss";
@import "../../style/variable.scss";

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.content__media {
  display: block;
  background: $blue-light;
  margin: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  width: 150px;
  position: relative;
  transform: scale(0.8);
  opacity: 0;
  animation: zoomIn 0.5s forwards; 

  img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 220px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 20px 20px 0px 0px;

    @include breakpoint(tablet) {
      height: 350px;
    }
  }

  &:hover {
    box-shadow: 9px 9px 6px 2px $blue-dark;
  }

  @include breakpoint(mobile-horizontal) {
    height: 50%;
    width: 42%;
  }
  @include breakpoint(tablet) {
    width: 20%;
  }

}

.content__title {
  display: flow;
  color: $white;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 11px;
}

.content__subTitle {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  flex-wrap: nowrap;
  height: 30%;
  justify-content: flex-start;

  @include breakpoint(mobile-horizontal) {
    height: 100%;
  }
}
