@import "../../style/mixin.scss";
@import "../../style/variable.scss";

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.content__media {
  display: block;
  margin: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  width: 150px;
  position: relative;
  transform: scale(0.8);
  opacity: 0;
  animation: zoomIn 0.5s forwards;

  img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 250px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 20px;

    @include breakpoint(tablet) {
      height: 350px;
    }
  }

  &:hover .content__subTitle {
    opacity: 1;
  }

  @include breakpoint(mobile-horizontal) {
    height: 50%;
    width: 42%;
  }
  @include breakpoint(tablet) {
    width: 250px;
    height: 340px;
  }
}

.content__title {
  display: flow;
  color: $white;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 11px;

  @include breakpoint(tablet) {
    font-size: 18px;
  }
}

.content__subTitle {
  margin-bottom: 14px;
  height: 100%;
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;

  .content__detail{
    .content__media-type {
      color: $white;
      font-size: 12px;
    }
  }

  @include breakpoint(mobile-horizontal) {
    height: 100%;
  }

  @include breakpoint(tablet) {
    margin-bottom: 0;
  }
}
