@import "../../style/mixin.scss";
@import "../../style/variable.scss";

.header {
  width: 100%;
  min-height: 50px;
  position: fixed;
  top: 0;
  padding: 10px 0;
  z-index: 100;
  background-color: $blue;
  color: $white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 7px 21px $black;
}

.header__title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.title {
  padding-top: 0;
}

.header__nav {
  width: 100%;
  margin: 10px 0;
}

.navigation__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navigation__link a {
  margin: 0 10px;
  color: #fff; /* Replace with your $white variable if using a preprocessor */
  font-size: 12px;
  text-align: center;
  position: relative;
  text-decoration: none;

  @include breakpoint(tablet) {
    font-size: 16px;
  }

  &::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff; /* Replace with your desired color */
    position: absolute;
    bottom: -3px; /* Adjust based on your preference */
    left: 0;
    transition: width 0.3s ease-in-out;
  }

  &:hover::after {
    width: 100%;
  }
}
