@import "../../style/variable.scss";

.header {
    width: 100%;
    min-height: 50px;
    position: fixed;
    top: 0;
    padding: 10px 0;
    z-index: 100;
    background-color: $blue;
    color: $white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 7px 21px $black;
}

.header__title{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.title{
    padding-top: 0;
}