@import "../../style/mixin.scss";
@import "../../style/variable.scss";

header {
  width: 100%;
  min-height: 50px;
  position: fixed;
  top: 0;
  padding: 10px 0;
  z-index: 100;
  background-color: $blue;
  color: $white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 4px 7px 21px $black;
}

.header__icon {
  margin-left: 10px;
  font-size: 20px;
  a {
    svg {
      path {
        fill: $white;
      }
    }
  }
}

.title {
  padding-top: 0;
}

.header__nav {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__link--mobile {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: $blue;
  top: 100%;
  left: -100%;
  transition: left 0.3s ease-out;
  justify-content: space-around;
  width: 100px;
  padding-left: 15px;

  @include breakpoint(tablet) {
    display: none;
  }
}

.navigation__link--mobile {

  &.show {
    left: 0%;
  }

  a {
    color: $white;
    position: relative;
    display: inline-block;
    text-decoration: none;

    &::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: $white;
      position: absolute;
      bottom: -3px;
      left: 0;
      transition: width 0.3s ease-in-out;
    }

    &:hover::after {
      width: 100%;
    }
  }

  .active {
    color: $white;

    &::after {
      width: 100%;
      background: $white;
    }
  }
}


.navigation__icon {
  cursor: pointer;
  background: none;
  border: none;
  color: $white;
  margin-left: 10px;
  @include breakpoint(tablet) {
    display: none;
  }
}

.navigation__link {
  display: none;

  @include breakpoint(tablet) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }

  a {
    margin: 0 10px;
    color: $white;
    font-size: 14px;
    text-align: center;
    position: relative;
    text-decoration: none;

    @include breakpoint(tablet) {
      font-size: 16px;
    }

    &::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: $white;
      position: absolute;
      bottom: -3px;
      left: 0;
      transition: width 0.3s ease-in-out;
    }

    &:hover::after {
      width: 100%;
    }
  }

  .active {
    color: $white;

    &::after {
      width: 100%;
      background: $white;
    }
  }
}

.navigation__avatar{
  padding-right: 10px;
}
