// Colors
$white: #ffffff;
$black: #000000;
$grey: #808080;
$red: #b11212;
$red-light: #b82d2d;
$blue: #1a29b1;
$blue-light: #4169e1;
$blue-dark: #0000ff33;
$blue-sky: #3498db;
$green: #269c21;

$text-primary: #333333;
