@import "../../style/mixin.scss";
@import "../../style/variable.scss";

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.movies {
  margin-top: 110px;
  padding-top: 0px;
}

.movies__container {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;

  .movies__content {
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
  }
}

.movies__list{
  display: block;
  margin: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  width: 150px;
  position: relative;
  transform: scale(0.8);
  opacity: 0;
  animation: zoomIn 0.5s forwards;

  &:hover .content__subTitle {
    opacity: 1;
  }

  @include breakpoint(mobile-horizontal) {
    height: 50%;
    width: 42%;
  }

  @include breakpoint(tablet) {
    width: 250px;
    height: 340px;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82vh;
  font-size: 1.5rem;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: $blue-sky;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.no-series {
  height: 594px;
  padding-top: 116px;
  font-weight: bold;
}

.movies__pagination {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
