.movies {
  margin-top: 110px;
  padding-top: 0px;
}
.movies__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
}


.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82vh;
  font-size: 1.5rem;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}