.MuiDialogContent-root {
  display: flex;
  flex-direction: column;
  height: auto;
}

.dialog__user {
  .MuiPaper-root {
    width: 100%;
  }

  .MuiDialogContent-root {
    display: flex;
    flex-direction: column;
  }

  .flex__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .user__image {
    width: 200px;
    height: 150px;
  }

  .MuiButton-root.user--active{
    border: 2px solid green;
    color: green;
    &:hover {
      background: green;
      color: white;
    }
  }

  .MuiButton-root.user--deactive{
    color: red;
    border: 2px solid red;
    &:hover {
      background: red;
      color: white;
    }
  }

  .MuiButtonBase-root:disabled {
    cursor: not-allowed;
  opacity: 0.6;
    }
}
