@import "../../style/mixin.scss";
@import "../../style/variable.scss";

.login__form {
  .MuiPaper-root {
    width: 85vw;

    @include breakpoint(tablet) {
      width: 65vw;
    }

    .MuiDialogContent-root {
      padding: 20px 120px;
    }
  }
}

.register__form {
  &.MuiPaper-root {
    width: 85vw;
  }
}

.form--flex {
  display: flex;
  flex-direction: column;

  @include breakpoint(tablet) {
    flex-direction: row;
    justify-content: space-between;
  }

  & .form__input-field {
    display: flex;
    flex-direction: column;
  }
}

.MuiDialogContent-root {
  display: flex;
  flex-direction: column;
  height: auto;
}

.dialog__user {
  .MuiPaper-root {
    width: 100%;
  }

  .MuiDialogContent-root {
    display: flex;
    flex-direction: column;
  }

  .flex__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .user__image {
    width: 200px;
    height: 150px;
  }

  .MuiButton-root.user--active {
    border: 2px solid $green;
    color: $green;
    &:hover {
      background: $green;
      color: $white;
    }
  }

  .MuiButton-root.user--deactive {
    color: $red;
    border: 2px solid $red;
    &:hover {
      background: $red;
      color: $white;
    }
  }

  .MuiButtonBase-root:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.file-input {
  position: relative;
  display: inline-block;

  input[type="file"] {
    display: none;
  }

  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;

    &:hover {
      background: $blue;
      color: $white;
    }
  }
}

.form__image {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 200px;
    height: 200px;
    padding-bottom: 10px;
  }
}
