@import "../../style/mixin.scss";
@import "../../style/variable.scss";

.button-group {
  padding: 30px 0;
  .MuiButtonGroup-root{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
   .MuiButtonBase-root {
      color: $text-primary;
      border: 1px solid $white;
      font-size: 12px;

      @include breakpoint(tablet) {
        font-size: 16px;
      }
  
      &:hover {
        color: $white;
        background-color: #007bff;
      }
    }
  
    .active {
      background-color: $blue;
      color: $white;
      border: 1px solid $blue;
    }

    .Mui-disabled {
      cursor: not-allowed;
    }
  }