.button-group {
  padding: 30px 0;
    .MuiButtonBase-root {
      color: #333;
      border: 1px solid #ddd;
  
      &:hover {
        background-color: #f0f0f0;
      }
    }
  
    .active {
      background-color: #007bff;
      color: #fff;
      border: 1px solid #007bff;
    }

    .Mui-disabled {
      cursor: not-allowed;
    }
  }