
.App {
  margin: 0;
  margin-top: 90px;
  text-align: center;
}

// .image {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   height: auto;
//   width: auto;
//   min-width: 500px;
//   background: aqua;

//   svg {
//     filter: drop-shadow(10px 7px 10px orange);
//     &.MuiSvgIcon-root {
//       font-size: 8rem;
//       animation: rotateIcon 2s linear infinite;
//     }
//   }

//   @keyframes rotateIcon {
//     from {
//       transform: rotate(0deg);
//     }
//     to {
//       transform: rotate(360deg);
//     }
//   }
// }

// .hidden {
//   display: none;
// }