@import "../../style/mixin.scss";
@import "../../style/variable.scss";

.search {
  height: 80px;
  padding-right: 18px;
  @include breakpoint(mobile-large) {
    padding-right: 20px;
  }
  @include breakpoint(tablet) {
    padding: 0 40px 0 30px;
  }
  @include breakpoint(laptop) {
    padding: 0 90px 0 80px;
  }

  & .MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: $blue-light;
  }
}
