.tending {
  margin-top: 110px;
  padding-top: 0px;
}

.tending__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
}
