.tending__container{
    padding-top: 0px;
}

.tending__movies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
}
